.indexBackground {
  padding-top: 1.667rem;
  background-color: #F1F3F2;
  min-height: 100vh;
}

.indexLayout{
  position: relative;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto 3.33rem auto;
  padding-bottom: 3.33rem;
}

.indexContentLayout {
  width: 850px;
  max-width: 100%;
  background-color: white;
  padding-bottom: 1.5rem;
}

.indexContent{
  padding: 20px 40px 0 40px;
}

.indexLinkWrap{
  position: absolute;
  width: 16rem;
  top: 0;
  right: 0;
}

.indexLink{
  position: fixed;
  background-color: white;
  width: inherit;
  box-shadow: 4px 4px #EDEDED;
}

@media screen and (max-width: 1440px){
  .indexContentLayout {
    width: calc(100% - 20rem);
  }
} 

@media screen and (max-width: 1100px){
  .indexContentLayout {
    width: 100%
  }
  .indexLinkWrap{
    display: none;
  }
}

.floatWrap{
  margin: 0rem 1rem 0rem 1rem;
}

.floatHeader{
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  border-bottom: 1px solid #DDE0E5;
  margin-bottom: 0.8rem;
}

.floatContent{
  padding-bottom: 0.5rem;
}
